body{
    padding: 0;
    margin: 0;
    background:linear-gradient(to right, #87CEEB, #9F81CD);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    box-shadow: red;
}
.take{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 2vw 4vw;
    border-radius: 4vw;
    
}
.retake,{
    position: absolute;
    top: 50%;
    right: 60%;
    padding: 2vw 4vw;
    border-radius: 4vw;
}
.next,{
    position: absolute;
    top: 50%;
    right: 60%;
    padding: 2vw 4vw;
    border-radius: 4vw;
}
.buttons :hover{
 background-color: rgb(12, 218, 122);
 color: aliceblue;
 padding: 15px 40px;
 border-radius: 4vw;
 font-weight: normal;
 text-transform: uppercase;
 transition: all 0.2s ease-in;
}
.questions{
    width: 550px;
    background-color: antiquewhite;
    border-radius: 5px;
    padding: 25px 30px 20px 30px;

}
.questions > .multi{
   height: 70px;
   padding: 0 30px;
   background-color: antiquewhite;
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-radius: 5px 5px 0 0;
}
.multi{
    font-size: 25px;
    font-weight: 500;
}
.quiz{
    padding: 20px 0;
}
.multipleanswer{
    background-color: bisque;
    border: 1px solid #b7eb87;
    border-radius: 5px;
    padding: 8px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    padding: 20px 0;
    display: block;
}
.choices{
    border: 1px solid #4636db;
}
