body{
    padding: 0;
    margin: 0;
    background:linear-gradient(to right, #87CEEB, #9F81CD);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

.retake{
    top: 10%;
    left: 40%;
    padding: 3vw 6vw;
    border-radius: 3vw;
    font-size: 20px;
    text-align: center;
    font-size: 40px;
}
.buttons > .retake{
    top: 48px;
    font-size: 20px;
}
